.formatter-help
  background-color: lightblue

.path-help
  background-color: pink

.ContentTest
  padding: 1rem
  font-family: times
  background-color: lavender
  color: grey

.AnotherContentTest
  padding: 1rem
  font-family: 'Courier New', Courier, monospace
  background-color: black
  color: lime

